/* Estilos para el reproductor de audio */
#audio-player {
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timer {
  font-size: 18px;
  margin-bottom: 10px;
}

.volumen {
  margin-bottom: 10px;
}

#progress {
  width: 100%;
}

#playList {
  margin-top: 20px;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#controls i {
  margin: 5px;
  cursor: pointer;
}

#controls span {
  margin-top: 10px;
  font-size: 16px;
}

#controls h3 {
  margin-top: 20px;
  font-size: 20px;
}

#controls p {
  margin-top: 20px;
  font-size: 14px;
}

/* Estilos para el botón de reproducción cuando está pausado */
#iconPlay.fa-play-circle {
  color: green;
}

/* Estilos para el botón de reproducción cuando está en pausa */
#iconPlay.fa-pause-circle {
  color: red;
}

.navbar-fixed-top {
  z-index: 1030; /* Asegura que el navbar esté por debajo del resto del contenido */
}