{% extends 'tienda/base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p>{% translate "delete_confirmation" %} <strong>{{ productocompra.producto.marca.nombre }} {{ productocompra.producto.nombre }}</strong> ?</p>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">{% translate "Confirm" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
