{% extends 'tienda/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://cdn.drivek.com/configurator-imgs/cars/es/Original/AUDI/R8/40538_COUPE-2-DOORS/audi-r8-coupe-2018-front-1.jpg" class="d-block w-100" alt="..." style="max-height: 600px;">
            </div>
            <div class="carousel-item">
              <img src="https://cdn-images.motor.es/image/m/1320w.webp/fotos-noticias/2019/05/mercedes-amg-gt-63-s-coupe-4-puertas-brabus-800-201957850-1559124273_1.jpg" class="d-block w-100" alt="..." style="max-height: 600px;">
            </div>
            <div class="carousel-item">
              <img src="https://a.ccdn.es/cnet/contents/media/bmw/i8/1035701.jpg/900x505cut/" class="d-block w-100" alt="..." style="max-height: 600px;">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-6">
            <form method="get" class="form">
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning">{% translate 'filter_search' %}</button>
                <a href="{% url 'welcome' %}" class="btn btn-primary ms-2">{% translate 'Reset' %}</a>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ producto.image.url }}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.marca.nombre }}</h5>
                        <p class="card-text">{{ producto.nombre }} {{ producto.modelo }}</p>
                        <p class="card-text">{{ producto.precio }} €</p>
                        <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-warning">{% translate 'Detail' %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}