{% extends 'tienda/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container"><div class="row mt-4">
        <div class="col-md-6">
            <form method="get" class="form">
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning">{% translate 'filter_search' %}</button>
                <a href="{% url 'welcome' %}" class="btn btn-primary ms-2">{% translate 'Reset' %}</a>
            </form>
        </div>
    </div>
    </br>
    <div class="row mt-4">
        {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ producto.image.url }}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-warning mb-2">{% translate 'detail' %}</a>
                        <h5 class="card-title">{{ producto.marca.nombre }}</h5>
                        <p class="card-text">{{ producto.nombre }} {{ producto.modelo }}</p>
                        <p class="card-text">{{ producto.precio }} €</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}